@import "./src/styles/setup";

.side-bar-navigation {
        .nav-item {
                cursor: pointer;
                padding-left: 30px;
                padding-top: 20px;
                padding-bottom: 20px;
                font-weight: 500;
                font-size: 18px;
                transition: all .3s ease-in-out;
                .badge{
                        margin-left: auto;
                        margin-right: 18px;
                        width: 30px;
                        height: 20px;
                        border-radius: 20px;
                        color:$color-white;
                        background-color: $color-grey-dark;
                        font-size: 12px;
                        font-weight: 300;
                }
                &.active,
                &:hover {
                        background-color: $color-white;
                        color: $color-blue;
                        position: relative;
                        box-shadow: 0px 0px 3px $color-black-shadow-2;
                        &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                width: 5px;
                                background-color: $color-blue;

                        }

                }
        }
}