@import "./src/styles/setup";

.check-symbol {
        font-size: 15px;

        &::before {
                opacity: 1;
                color: $color-white
        }

        &::after {
                opacity: 1;
        }

        &.big {
                font-size: 30px;
        }

        &.fa-check-circle {
                &::after {
                        color: $color-green;
                }
        }

        &.fa-times-circle {
                &::after {
                        color: $color-red;
                }
        }
}