* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: $font-primary;
  background-color: $color-white-light;
  color: $color-black;
  font-weight: 400;
}

input,
button {
  font-family: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}